.password{
    display: flex;
    flex-direction: column;
    width: 100vw;
    align-items: center;

    .content{
        width: 80%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        table{
            width: 100%;
            margin-top: 10px;
            th{
                align-items: center;
                justify-content: center;
                text-align: center;
                width: 300px;
            }
            td{
                align-items: center;
                justify-content: center;
                text-align: center;
            }
        }
    }

}