.password{
    display: flex;
    flex-direction: column;
    width: 100vw;
    align-items: center;

    .content{
        width: 80%;
        
        table{
            width: 100%;

            td{
                align-items: center;
                justify-content: center;
                text-align: center;
            }
        }
    }

}